## Importing basic labraries Pandas, Apriori, Assosiation_rules

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import os
os.getcwd()

'C:\\Users\\pc\\Python class'

In [2]:
os.chdir('C://Users//pc/Desktop/Relian/')

## Reading the CSV file given

In [4]:
#df=pd.read_csv('groceries.csv',error_bad_lines=False,)#sep='\t',)#sep='delimiter')
df= pd.read_csv('groceries.csv', header=None, sep='\n')
df = df[0].str.split(',', expand=True)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,tropical fruit,yogurt,coffee,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,whole milk,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,pip fruit,yogurt,cream cheese,meat spreads,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,other vegetables,whole milk,condensed milk,long life bakery product,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [6]:
df.shape

(9835, 32)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9835 entries, 0 to 9834
Data columns (total 32 columns):
0     9835 non-null object
1     7676 non-null object
2     6033 non-null object
3     4734 non-null object
4     3729 non-null object
5     2874 non-null object
6     2229 non-null object
7     1684 non-null object
8     1246 non-null object
9     896 non-null object
10    650 non-null object
11    468 non-null object
12    351 non-null object
13    273 non-null object
14    196 non-null object
15    141 non-null object
16    95 non-null object
17    66 non-null object
18    52 non-null object
19    38 non-null object
20    29 non-null object
21    18 non-null object
22    14 non-null object
23    8 non-null object
24    7 non-null object
25    7 non-null object
26    6 non-null object
27    5 non-null object
28    4 non-null object
29    1 non-null object
30    1 non-null object
31    1 non-null object
dtypes: object(32)
memory usage: 2.4+ MB

## Checking for duplicated rows

In [8]:
df_duplicated=df[df.duplicated(keep='first')]

In [9]:
df_duplicated.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
22,whole milk,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28,other vegetables,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36,fruit/vegetable juice,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
43,canned beer,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
47,rolls/buns,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [10]:
print('The number of duplicated rows are :',df_duplicated.shape[0])

The number of duplicated rows are : 2824

In [12]:
df.shape

(9835, 32)

In [13]:
df.reset_index(inplace=True)

In [14]:
df.head()

,index,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,0,citrus fruit,semi-finished bread,margarine,ready soups,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1,tropical fruit,yogurt,coffee,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2,whole milk,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,3,pip fruit,yogurt,cream cheese,meat spreads,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,4,other vegetables,whole milk,condensed milk,long life bakery product,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [15]:
df.drop('index',axis=1, inplace=True)

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,tropical fruit,yogurt,coffee,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,whole milk,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,pip fruit,yogurt,cream cheese,meat spreads,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,other vegetables,whole milk,condensed milk,long life bakery product,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype='object')

## Performing set operations on the dataframe (A-B) , (A intersection B) for the first column items with  other items brought

In [20]:
items = (df[0].unique())

encoded_vals = []
for index, row in df.iterrows():
    labels = {}
    uncommons = list(set(items) - set(row))
    commons = list(set(items).intersection(row))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
encoded_vals[0]

{'cocoa drinks': 0,
 'frankfurter': 0,
 'white bread': 0,
 'frozen vegetables': 0,
 'light bulbs': 0,
 'canned fruit': 0,
 'ice cream': 0,
 'pickled vegetables': 0,
 'instant coffee': 0,
 'sliced cheese': 0,
 'cooking chocolate': 0,
 'pork': 0,
 'soups': 0,
 'pet care': 0,
 'house keeping products': 0,
 'liquor (appetizer)': 0,
 'bathroom cleaner': 0,
 'chicken': 0,
 'potato products': 0,
 'hard cheese': 0,
 'cream cheese ': 0,
 'turkey': 0,
 'specialty cheese': 0,
 'white wine': 0,
 'hair spray': 0,
 'female sanitary products': 0,
 'specialty chocolate': 0,
 'whole milk': 0,
 'specialty bar': 0,
 'butter milk': 0,
 'chocolate marshmallow': 0,
 'sausage': 0,
 'processed cheese': 0,
 'spices': 0,
 'spread cheese': 0,
 'ham': 0,
 'bags': 0,
 'detergent': 0,
 'flour': 0,
 'long life bakery product': 0,
 'dessert': 0,
 'other vegetables': 0,
 'mustard': 0,
 'liqueur': 0,
 'herbs': 0,
 'abrasive cleaner': 0,
 'cookware': 0,
 'bottled water': 0,
 'cereals': 0,
 'napkins': 0,
 'chewing gum': 0,
 'kitchen towels': 0,
 'curd cheese': 0,
 'coffee': 0,
 'roll products ': 0,
 'soda': 0,
 'fish': 0,
 'syrup': 0,
 'cake bar': 0,
 'UHT-milk': 0,
 'cat food': 0,
 'candles': 0,
 'waffles': 0,
 'candy': 0,
 'shopping bags': 0,
 'pot plants': 0,
 'canned vegetables': 0,
 'rum': 0,
 'soft cheese': 0,
 'kitchen utensil': 0,
 'vinegar': 0,
 'nut snack': 0,
 'cling film/bags': 0,
 'jam': 0,
 'dishes': 0,
 'fruit/vegetable juice': 0,
 'bottled beer': 0,
 'meat spreads': 0,
 'frozen potato products': 0,
 'cream': 0,
 'frozen dessert': 0,
 'artif. sweetener': 0,
 'Instant food products': 0,
 'sauces': 0,
 'liquor': 0,
 'beef': 0,
 'decalcifier': 0,
 'sugar': 0,
 'canned beer': 0,
 'dog food': 0,
 'specialty fat': 0,
 'soap': 0,
 'beverages': 0,
 'yogurt': 0,
 'finished products': 0,
 'onions': 0,
 'photo/film': 0,
 'domestic eggs': 0,
 'mayonnaise': 0,
 'popcorn': 0,
 'rubbing alcohol': 0,
 'flower (seeds)': 0,
 'prosecco': 0,
 'newspapers': 0,
 'organic products': 0,
 'snack products': 0,
 'dental care': 0,
 'skin care': 0,
 'hamburger meat': 0,
 'frozen meals': 0,
 'root vegetables': 0,
 'brown bread': 0,
 'brandy': 0,
 'male cosmetics': 0,
 'pastry': 0,
 'hygiene articles': 0,
 'grapes': 0,
 'oil': 0,
 'flower soil/fertilizer': 0,
 'baby cosmetics': 0,
 'salty snack': 0,
 'frozen fish': 0,
 'softener': 0,
 'seasonal products': 0,
 'frozen fruits': 0,
 'cleaner': 0,
 'baking powder': 0,
 'ketchup': 0,
 'sparkling wine': 0,
 'pasta': 0,
 'honey': 0,
 'tidbits': 0,
 'salt': 0,
 'butter': 0,
 'whipped/sour cream': 0,
 'nuts/prunes': 0,
 'liver loaf': 0,
 'organic sausage': 0,
 'dish cleaner': 0,
 'packaged fruit/vegetables': 0,
 'rolls/buns': 0,
 'whisky': 0,
 'sweet spreads': 0,
 'meat': 0,
 'berries': 0,
 'frozen chicken': 0,
 'misc. beverages': 0,
 'chocolate': 0,
 'tropical fruit': 0,
 'condensed milk': 0,
 'curd': 0,
 'red/blush wine': 0,
 'canned fish': 0,
 'zwieback': 0,
 'pip fruit': 0,
 'citrus fruit': 1,
 'semi-finished bread': 1,
 'margarine': 1}

## Converting in to a dataframe

In [21]:
ohe=pd.DataFrame(encoded_vals)

In [22]:
ohe.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Frequent item sets 
## Apriori Algorithm application with support=0.01%

In [23]:
freq_items= apriori(ohe,\
                     min_support=0.01,use_colnames=True,\
                     verbose=2)
freq_items.head()

Processing 128 combinations | Sampling itemset size 43

    support         itemsets
0  0.033452       (UHT-milk)
1  0.017692  (baking powder)
2  0.052466           (beef)
3  0.033249        (berries)
4  0.026029      (beverages)

## Rules are based on Confidence with min_threshhold=0.5

In [24]:
rules = association_rules(freq_items, 
                          metric="confidence", 
                          min_threshold=0.5)

## Even though there is less support for items.
## High confidence and lift is required to check the item combinations.

In [25]:
rules[rules.lift>=2]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(butter, other vegetables)",(whole milk),0.020031,0.255516,0.011490,0.573604,2.244885,0.006371,1.745992
1,"(citrus fruit, root vegetables)",(other vegetables),0.017692,0.193493,0.010371,0.586207,3.029608,0.006948,1.949059
2,"(yogurt, curd)",(whole milk),0.017285,0.255516,0.010066,0.582353,2.279125,0.005649,1.782567
3,"(domestic eggs, other vegetables)",(whole milk),0.022267,0.255516,0.012303,0.552511,2.162336,0.006613,1.663694
4,"(pip fruit, other vegetables)",(whole milk),0.026131,0.255516,0.013523,0.517510,2.025351,0.006846,1.543003
5,"(root vegetables, rolls/buns)",(other vegetables),0.024301,0.193493,0.012201,0.502092,2.594890,0.007499,1.619792
6,"(tropical fruit, root vegetables)",(other vegetables),0.021047,0.193493,0.012303,0.584541,3.020999,0.008231,1.941244
7,"(root vegetables, yogurt)",(other vegetables),0.025826,0.193493,0.012913,0.500000,2.584078,0.007916,1.613015
9,"(other vegetables, yogurt)",(whole milk),0.043416,0.255516,0.022267,0.512881,2.007235,0.011174,1.528340
10,"(root vegetables, rolls/buns)",(whole milk),0.024301,0.255516,0.012710,0.523013,2.046888,0.006500,1.560804
11,"(tropical fruit, root vegetables)",(whole milk),0.021047,0.255516,0.011998,0.570048,2.230969,0.006620,1.731553
12,"(root vegetables, yogurt)",(whole milk),0.025826,0.255516,0.014540,0.562992,2.203354,0.007941,1.703594
13,"(tropical fruit, yogurt)",(whole milk),0.029283,0.255516,0.015150,0.517361,2.024770,0.007668,1.542528
14,"(whipped/sour cream, yogurt)",(whole milk),0.020742,0.255516,0.010880,0.524510,2.052747,0.005580,1.565719